@import url(./icon/iconfont.css);

/* 基础样式 */
body {
  user-select: none;
  margin: 0;
}
p {
  margin: 0;
}
h3,
h2,
h1,
h4,
h5,
h6 {
  margin: 0;
}

div {
  margin: 0;
}
li,
ul {
  list-style: none;
  padding: 0;
}
.test {
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
